{% extends 'base.html.twig' %}

{% block title %}Programy studiów{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Programy studiów</h1>

        </br>Wybierz wydział:
        <select id="wydzial" style ="font-size: 15px; margin-bottom: 10px">
            {% for kierunek in kierunki %}
                {% set selected = '' %}
                <option value="{{kierunek[0].wydzial}}" {{ selected }}> {{kierunek[0].wydzial}}</option>
            {% endfor %}
        </select>

        </br>Wybierz kierunek studiów:
        <select id="kierunek" style ="font-size: 15px; margin-bottom: 10px">
            {% for kierunek in kierunki %}
                {% set selected = '' %}
                <option value="{{kierunek[0].nazwa}}" {{ selected }}> {{kierunek[0].nazwa}}</option>
            {% endfor %}
        </select>

        </br>Wybierz formę studiów:
        <select id="forma" style ="font-size: 15px; margin-bottom: 10px">
            {% for forma in formy_studiow %}
                {% set selected = '' %}
                <option value="{{forma.forma_studiow}}" {{ selected }}> {{forma.forma_studiow}}</option>
            {% endfor %}
        </select>

        <br/>

        <button id="search_button" class="ajax">Szukaj programu studiów</button>
        {% if is_granted('ROLE_TUTOR') %}
            <a id="nowy_sylabus_button">Dodaj sylabus</a>
        {% endif %}
        <div id="ajax-results"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script>
            $(document).ready(function() {
                //$('#search_button').click();
            });

            $(document).on('click', 'button.ajax', function(){
                that = $(this);
                var selected_wydzial = $("#wydzial option:selected").text();
                var selected_kierunek = $("#kierunek option:selected").text();
                var selected_forma = $("#forma option:selected").text();
                $.ajax({
                    url: window.location.href,
                    type: "POST",
                    dataType: "json",
                    data: {
                        "selected_wydzial" : selected_wydzial,
                        "selected_kierunek" : selected_kierunek,
                        "selected_forma" : selected_forma
                    },
                    async: true,
                    success: function (data)
                    {
                        //console.log(data);
                        $("#ajax-results").empty();

                        if ($.trim(data)){
                            //alert("Data not empty");
                            var url = window.location.href;
                            var new_url = url.replace('/program', '/program/');

                            for (i = 0; i < data.output.length; i++) {
                                $('</br>').appendTo('div#ajax-results');

                                $('<a>', {
                                    text: (i + 1) + ". " + data.output[i]["opis"],
                                    title: new_url + data.output[i]["id"],
                                    href: new_url + data.output[i]["id"]
                                }).appendTo('div#ajax-results');
                            }
                            if(data.output.length==0) {
                                $('<p>', {
                                    text: 'Brak programów dla wybranego filtra!'}).appendTo('div#ajax-results');
                            }
                            //$("#nowy_sylabus_button").attr("href",'/sylabus/new/'+data.programId[0].toString());
                        }
                    },
                    error: function () {
                        $("#ajax-results").empty()
                    },
                });
                return false;

            });
        </script>

    </div>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}