{% extends 'base.html.twig' %}

{% block title %}Podsumowanie programu studiów{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Podsumowanie programu studiów</h2><br/>

        <table>
            <tr>
                <td>Nazwa</td>
                <td>{{ program_podsumowanie.getNazwaProgramu }}</td>
            </tr>

            <tr>
                <td>Wydział</td>
                <td>{{ program_podsumowanie.getWydzial }}</td>
            </tr>

            <tr>
                <td>Kierunek</td>
                <td>{{ program_podsumowanie.getKierunek }}</td>
            </tr>

            <tr>
                <td>Typ</td>
                <td>{{ program_podsumowanie.getTyp }}</td>
            </tr>

            <tr>
                <td>Tryb</td>
                <td>{{ program_podsumowanie.getTryb }}</td>
            </tr>

            <tr>
                <td>Liczba semestrów</td>
                <td>{{ program_podsumowanie.getLiczbaSemestrow }}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla semestrów</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaSemestru %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'podstawowe'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecPodstawowe %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'kierunkowe'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecKierunkowe %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'humanistyczne'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecHuman %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'obligatoryjne'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecObligatoryjnych %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'wybór'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecDoWyboru %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'naukowe'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecNaukowe %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma punktów ECTS dla zajęć ze statusem 'praktyczne'</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyEctsDlaStatusZajecPraktyczne %}
                        <li>Semestr: {{ counter }}, suma punktów ECTS: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinDlaSemestru %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów (wykłady)</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinWykladDlaSemestrow %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów (ćwiczenia)</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinCwiczeniaDlaSemestrow %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów (labolatoria)</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinLabDlaSemestrow %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów (zajęcia terenowe)</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinTerenDlaSemestrow %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów (zajęcia projektowe)</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinProjektDlaSemestrow %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Suma godzin dla semestrów (zajęcia praktyczne)</td>
                {% set counter = 1 %}
                <td>{% for suma in program_podsumowanie.getSumyGodzinPraktykiDlaSemestrow %}
                        <li>Semestr: {{ counter }}, suma godzin: {{ suma }}</li>
                        {%  set counter=counter+1 %}
                    {% endfor %}</td>
            </tr>

            <tr>
                <td>Liczba sylabusów zatwierdzonych</td>
                <td>{{ program_podsumowanie.getLiczbaZatwierdzonychSylabusow }}</td>
            </tr>

            <tr>
                <td>Lista niezatwierdzonych sylabusów</td>
                <td>{% for value in program_podsumowanie.getListaNiezatwierdzonychSylabusow %}
                        <li><a href="{{ path('sylabusForm', {'id': value.id }) }}">Sylabus {{ value.numerKatalogowy }}</a></li>
                    {% endfor %}</td>
            </tr>
        </table>
    </div>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        .td_smallFontSize {
            font-size: 11px;
        }

        table {
            width: 100%;
        }
    </style>
{% endblock %}