{% extends 'base.html.twig' %}

{% block title %}Program studiów{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Program: {{ program.getKierunek }}, {{ program.getFormaStudiow }}, {{ program.getRokAkademicki }}</h2><br/>
        {% if is_granted('ROLE_ADMIN') %}
            <a id="podsumowanie_button" href="/program/{{ program.getId }}/podsumowanie">Podsumowanie</a>
        {% endif %}
        <br>
        {% if is_granted('ROLE_TUTOR') %}
            <a id="nowy_sylabus_button" href="/sylabus/new/{{ program.getId }}">Dodaj sylabus</a>
        {% endif %}
        {% set counter = 1 %}

        <table>
            <tr>
                <td>Lp.</td>
                <td>Semestr</td>
                <td>Nazwa przedmiotu</td>

                <td>Status zajęć |</td>
                <td>Status zajęć ||</td>
                <td>Status zajęć |||</td>
                <td>Status zajęć humanistyczno-społeczne</td>
                <td>Status zajęć naukowe</td>
                <td>Status zajęć obowiązkowe</td>
                <td>Status zajęć podstawowe</td>
                <td>Status zajęć praktyczne</td>

                <td>Godziny wykładowe</td>
                <td>Godziny ćwiczeniowe</td>
                <td>Godziny labolatoryjne</td>
                <td>Godziny projektowe</td>
                <td>Godziny terenowe</td>
                <td>Godziny praktyki</td>
                <td>Razem godzin</td>

                <td>ECTS</td>

                <td>Kryteria oceniania</td>
            </tr>

            {% for value in zajecia %}
                <tr>
                    <td>{{ counter }}</td>
                    <td>{{ value.semestr }}</td>

                    <td>
                        <a href="{{ path('sylabus', {'query' : value.sylabus_id}) }}" title = "{{ path('sylabus', {'query' : value.sylabus_id}) }}">
                            {{ value.nazwa }}
                        </a>
                    </td>

                    <td>{{ value.status1 }}</td>
                    <td>{{ value.status2 }}</td>
                    <td>{{ value.status3 }}</td>
                    <td>{{ value.status4 }}</td>
                    <td>{{ value.status5 }}</td>
                    <td>{{ value.status6 }}</td>
                    <td>{{ value.status7 }}</td>
                    <td>{{ value.status8 }}</td>

                    <td>{{ value.gw }}</td>
                    <td>{{ value.gc }}</td>
                    <td>{{ value.gl }}</td>
                    <td>{{ value.gp }}</td>
                    <td>{{ value.gt }}</td>
                    <td>{{ value.gpr }}</td>
                    <td>{{ value.suma }}</td>

                    <td>{{ value.ects }}</td>

                    <td class="td_smallFontSize">
                        {{ value.kryteria_oceniania }}
                    </td>

                    {% set counter = counter + 1 %}
                </tr>
            {% endfor %}

        </table>

    </div>

    <style>
        .example-wrapper { margin: auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        .td_smallFontSize {
            font-size: 11px;
        }

        table {
            width: 100%;
        }
    </style>
{% endblock %}